   # Created By AliBig71
   
   -**The ultimate joy of programming is to build things that you are proud of.**

#

# Session One 
#  


# Markdown cells 
- They are where the instructions and explanations are written for these Jupyter Notebooks.

In [71]:
x = 3

In [72]:
x

3

- we have defined a variable x and ask the jupiter to show its values

In [73]:
print("Hello World!")

Hello World!

- We can use [Ctrl+Enter] rather than [Run Cell] in cell section

# "#" 
are used to make comments in our codes (here it is in [markdown mode])

In [74]:
# this is a comment [here it is in [code mode ]]

What [Shift+Enter] will do is move to the next cell, and
if there's no cell below it will create a new cell.

In [75]:
x = 2
y = x + 2
y

4

Another common issue with a Jupyter notebook is you might write
some code and it puts the notebook in an unstable state.
Either the browser will become frozen or
the code just is running too long and will not finish.
So we reset the kernel, so again we're gonna go to the Kernel menu up there, and we're gonna either hit Restart or
often you're gonna hit Restart and Clear Output.
And what Clear Output will do is put all of the previously
run code to a starting point so that there is no variables in memory.

# ======================================================
# Session two 
# ======================================================

In [76]:
# examples of printing strings with single and double quotes
print('strings go in single')
print("or double quotes")

strings go in single
or double quotes

- Integer vs String 

The difference is a string is just a representation of a picture
of that number.
It's the representation of the shape of the number three,
versus the actual integer number three as something that we can do
mathematical operations with.

In [77]:
# String echo
"-123"

'-123'

In [78]:
# Integer echo 
-123

-123

In [79]:
# digit string print 
print("2017", ", it is string")

# integer print 
print (2017, ", it is integer")

2017 , it is string
2017 , it is integer

#  
#  
# How to assign a variable

In [80]:
# Variable Defenition 
student_name = "Alireza"

# echo the variable 
student_name

'Alireza'

In [81]:
# printing the variable 
print(student_name)

Alireza

- Python allows your variables to change data type.
And that's important to know, it can be very useful and

In [82]:
student = "Alireza"
print(student)

Alireza

In [83]:
student = 12345
print(student)
print("in this example the type and content of variable [student] have changed ")

12345
in this example the type and content of variable [student] have changed

#   
#  
#  
#  

# Data Type and type() function 

- **Str:**     String 
- **int:**     integer 
- **float:**   floating point decimal 

- **type()** `will show type o variables`

In [1]:
type (3)

int

In [85]:
# We can also print the type of varaible 
print(type(5.63))

<class 'float'>

In [86]:
student = "alireza"
type (student)

str

In [87]:
student = alireza
type (student)

NameError: name 'alireza' is not defined

#  
- Pay attention to "" for string


# Addition: numbers and Strings 
- **math addition:** number addition with +

In [88]:
print("this is a combination: " + 
      "my age is", 23 )

this is a combination: my age is 23